<ul class="nav nav-tabs">
  <li role="presentation" class="<%= active_on(movies_path) %>">
    <%= link_to "Toplist", movies_path %>
    </li>
  <li role="presentation" class="<%= active_on(suggested_movies_path)  %>">
    <%= link_to "Suggested", suggested_movies_path %>
  </li>
  <li style="float: right">
    <%= button_to "Add Movie", new_movie_path, class: "btn btn-primary pull-right hidden visible-xs-inline", method: :get if user_signed_in? %>

    <%= button_to "Suggest a new Movie", new_movie_path, class: "btn btn-primary pull-right hidden-xs", method: :get if user_signed_in? %>
  </li>
</ul>
