<ul class="nav nav-tabs">
  <li role="presentation" class="<%= active_on(movies_path) %>">
    <%= link_to "Toplist", movies_path %>
    </li>
  <li role="presentation" class="<%= active_on(suggested_movies_path)  %>">
    <%= link_to "Suggested", suggested_movies_path %>
  </li>
  <li style="float: right">
    <%= link_to "Add Movie", new_movie_path, class: "btn btn-primary hidden visible-xs-inline" if user_signed_in? %>
    <%= link_to "Suggest a new Movie", new_movie_path, class: "btn btn-primary hidden-xs" if user_signed_in? %>
  </li>
</ul>
