<%= link_to "New Movie", new_movie_path, class: "btn btn-primary pull-right" if user_signed_in? %>

<h1>Listing Movies</h1>

<table class="table movie-table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Rank</th>
      <th>Title</th>
      <th>Rating</th>
      <% if admin? %>
        <th>Admin</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @movies.each_with_index do |movie, index| %>
      <tr>
        <td class="movie-table-poster">
          <%= link_to image_tag(movie.poster_url("w92")), movie if movie.poster_url.present? %>
        </td>
        <td class="movie-table-rank">
          <%= index + 1 %>
        </td>
        <td class="movie-table-title">
          <%= link_to movie.title, movie %> (<%= movie.year %>)
        </td>
        <td class="movie-table-ranking">
          <%= image_tag "raty/lib/images/star-on.png" %> <%= movie.average_rating %>
        </td>
        <% if admin? %>
          <td>
              <%= link_to "Destroy", movie, method: :delete, data: { confirm: "Delete #{movie.title}?" } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
