<% page_title "Top 108" %>

<%= render "tabs" %>

<h1>Top 108</h1>

<p>
  The top 108 movies as voted by the Dharmavision members.
  Only movies with at least 5 ratings are allowed in the top 108.
  To see which movies are suggested but would need more ratings
  to make it into the list please refer to the
  <%= link_to "suggested movies", suggested_movies_path %> page.
</p>

<table class="table movie-table table-striped">
  <tbody>
    <% @movies.each_with_index do |movie, index| %>
      <tr>
        <td class="movie-table-poster">
          <%= link_to image_tag(movie.poster_url("w92")), movie if movie.poster_url.present? %>
        </td>
        <td class="movie-table-rank">
          <%= index + 1 %>
        </td>
        <td class="movie-table-title">
          <%= link_to movie.title, movie %> (<%= movie.year %>)
        </td>
        <td class="movie-table-ranking">
          <%= image_tag "raty/lib/images/star-on.png" %> <%= movie.average_rating %>
        </td>
        <% if admin? %>
          <td class="hidden-sm">
              <%= link_to "Destroy", movie, method: :delete, data: { confirm: "Delete #{movie.title}?" } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
