<h1>Listing Movies</h1>

<%= link_to "New Movie", new_movie_path, class: "btn btn-primary pull-right" %>

<table class="table movie-table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= link_to movie.title, movie %> (<%= movie.year %>)
        </td>
        <td class="rating">
          <%= image_tag "raty/lib/images/star-on.png" %> <%= movie.average_rating %>
        </td>
        <td>
          <%= link_to "Destroy", movie, method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
