<ul class="absolute bg-white shadow w-full z-10">
  <% @results.each_with_index do |movie, i| %>
    <li>
      <a class="flex items-center p-2 text-gray-900 hover:bg-blue-50 hover:no-underline" href="<%= movie_path(movie) %>">
        <img class="h-16 mr-3" src="<%= movie.poster_url(92) %>">
        <div>
          <h3 class="font-bold"><%= movie.title %></h3>
          <%= movie.year %>
        </div>
      </a>
    </li>
  <% end %>

  <!-- New movie option -->
  <li>
    <a class="flex items-center p-2 text-gray-900 hover:bg-blue-50 hover:no-underline" href="<%= new_movie_path %>">
      <div class="w-11 h-16 mr-3 bg-gray-100 flex items-center justify-center text-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="text-gray-900">
        <em>Don't find the movie you're looking for?</em><br>
        Click here to add a new one!
      </div>
    </a>
  </li>
</ul>
