<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag @movie.poster_url, class: "movie-poster" if @movie.poster_url %>
    </div>
    <div class="col-sm-8">
      <h1><%= @movie.title %></h1>
      <p class="lead"><%= @movie.plot %></p>
    </div>
  </div>
</div>

<div class="big-rating-star center-block">
  <%= @movie.average_rating %>
</div>

<div class="user-rating text-center padded">
  <strong>Your rating</strong><br>
  <% if user_signed_in? %>
    <span data-raty data-movie-id="<%= @movie.id %>" data-score="<%= user_rating.rating || 0 %>"></span>
    <span class="raty-target"></span>
    <%= image_tag "spinner.gif", class: "raty-pending" %>
  <% else %>
    <p><%= link_to "Sign in", new_user_session_path %> to add a rating...</p>
  <% end %>
</div>

<p class="text-center">
  Read more at<br>
  <%= link_to image_tag("imdb-logo.png"), "http://www.imdb.com/title/tt#{@movie.imdb_id}/", target: "_blank", class: "imdb-link" %>
</p>
