<% page_title @movie.title %>

<p class="mb-5">
  <%= link_back("Back to list", if: request.referer.to_s[suggested_movies_path], else: movies_path) %>
</p>

<div class="grid sm:grid-cols-3 sm:gap-8">
  <div class="">
    <%= image_tag @movie.poster_url, class: "w-full" if @movie.poster_url %>
  </div>
  <div class="sm:col-span-2">
    <%= h1 @movie.title %>
    <p class="text-xl font-light mb-5"><%= @movie.overview %></p>
    <p>
      <strong><small>MPAA Rating</small></strong><br>
      <%= @movie.mpaa_rating || "Not available" %>. Refer to imdb's
      <%= link_to "parents guide", "http://www.imdb.com/title/#{@movie.imdb_id}/parentalguide", target: "_blank" %>
      for detailed information.
    </p>
  </div>
</div>

<div
  id="movie-rating-star"
  class="mx-auto w-32 h-32 bg-cover mb-8 text-center font-bold text-4xl"
  style="line-height: 140px; background-image: url(<%= image_path "big-star.png" %>)"
>
  <%= @movie.average_rating %>
</div>

<!-- Rater -->
<script defer src="<%= BuildlessCache.modules.fetch("javascripts/components/rater") %>"></script>
<div class="text-center mb-8">
  <strong>Your rating</strong><br>
  <% if user_signed_in? %>
    <dv-rater id="rater" value="<%= user_rating.rating %>" data-movie-id="<%= @movie.to_param %>"></dv-rater>
    <span id="rater-score-text"><%= user_rating.rating %></span>/10
  <% else %>
    <p><%= link_to "Sign in", new_session_path %> to add a rating...</p>
  <% end %>
</div>

<div class="text-center mb-5">
  Read more at<br>
  <%= link_to image_tag("imdb-logo.png", width: 130, class: "inline"), "http://www.imdb.com/title/#{@movie.imdb_id}/", target: "_blank" %>
</div>

<% if admin? %>
<pre>
  tmdb: <%= @movie.tmdb_id %>
</pre>
<% end %>
